.venv
.idea
backend/backend/__pycache__
backend/ncteApp/__pycache__
backend/ncteApp/migrations
backend/ncteApp/views/__pycache__
backend/ml/__pycache__
backend/user_network/__pycache__
backend/media
frontend/node_modules/
frontend/.expo/